SECRET_KEY="your-secret-key"
DATABASE_URL="postgresql+psycopg://user:password@localhost/db"
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=587
MAIL_USERNAME="""
MAIL_PASSWORD=""
MAIL_FROM="
MAIL_USE_TLS=true"
FRONTEND_URL="http://localhost:8000"
